.photo_profil {
	weight: 1600px;
	height: 160px;
	margin-left: 0px;
	border-radius: 50px;
	}

.un {
	border: solid black;
	border-radius: 10px;
	margin: 50px;
}
.img_logo {
	width: 100px;
}
body {
background-image: url(image/palmier.jpg);
background-repeat: no-repeat;
background-size:cover;
text-align: center;
}

footer {
	text-align: left;

}

h1 {
	font-size: 50px;
	color: rgb(139, 69, 19);
	text-align: center;
}

.test {
	padding: 15px;
}

h2 {
	text-align: center;
	}

p {
	font-size: 20px;
}
.tel_css {
	font-size: 10px;
}
.wrapper
{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 10px;
		grid-auto-rows: minmax(100px, auto);
		text-align: left;
		
}



.une
{
grid-column: 2/4;
grid-row: 1;
border: solid black;
border-radius: 10px;
margin: 20px

}

.deux
{
grid-column: 4/6;
grid-row: 1;
border: solid black;
border-radius: 10px;
margin: 20px

}



.trois
{
grid-column: 2 / 6;
grid-row: 2 / 5;
border: solid black;
border-radius: 40px;
margin: 10px
}

.test_pading_p {
	line-height: 30px;
	padding: 20px;
}



/* vie associative */




/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;
}
	

.footer {
    line-height: 1.5;
    margin: 40px;
    color: black;
    font-size: 30px;
}
	